@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #e9e2ae; /* Verde Água */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.form-container {
    background-color: #F7F7F7;
    padding: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}